<h1>Sign up</h1>
<form action="create/user" method="post">
  <label>First Name</label>
  <input type="text" name="first_name">
  <br>
  <label>Last Name</label>
  <input type="text" name="last_name">
  <br>
  <label>pick a user name</label>
  <input type="text" name="user_name">
  <br>
  <label>passowrd</label>
  <input type="text" name="password">
  <br>
  <label>confirm password</label>
  <input type="text" name="confirm_password">
  <br>
  <label>Email</label>
  <input type="text" name="email">
  <br>
  <label>phone number</label>
  <input type="text" name="phone_number">
  <br>
  <label>address line 1</label>
  <input type="text" name="address_line_1">
  <br>
  <label>address line 2</label>
  <input type="text" name="address_line_2">
  <br>
  <label>city</label>
  <input type="text" name="city">
  <br>
  <label>zip code</label>
  <input type="text" name="zip_code">
  <br>
  <label>state</label>
  <input type="text" name="state">
</form>
